<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="bg-data">
        <div class="nw-board">
            <h3>dashboard.</h3>
            <div class="nw-con">
                <div class="nw-list">
                    <ul>
                        <li class="nw-list-data">
                            <span class="nw-val">
                                <ul>
                                    <li><b>Risa nussy</b></li>
                                    <li class="nw-mail">risa@tech.co.id</li>
                                </ul>
                            </span>
                            <span class="btn-del">
                                delete
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="nw-sub-con">
                    <div class="nw-add">
                        <h3>add member.</h3>
                        <br>
                        <from>
                            <input type="text" class="in-form2" placeholder="masukan username...."><br>
                            <input type="text" class="in-form2" placeholder="masukan email...."><br><br>
                            <button class="nw-btn2">add</button>
                        </from>
                    </div>
                    <div class="nw-update">
                        <h3>update member.</h3>
                        <br>
                        <from>
                            <input type="text" class="in-form2" placeholder="masukan username...."><br>
                            <input type="text" class="in-form2" placeholder="masukan email...."><br><br>
                            <button class="nw-btn2">edit</button>
                        </from>
                    </div>
                </div>
                <a href="/" class="bhome">kembali ke halaman utama</a>
            </div>
        </div>
    </div>
</body>
</html>