<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Suit Game</title>
	<link rel="icon" type="image/svg" href="img/suit/icon.svg">
	<link rel="stylesheet" type="text/css" href="css/suit.css">
</head>
<body>
	<a href="/">
		<span class="back">
			<img src="img/suit/arr.svg" width="13px">
			<img src="img/suit/icon.svg" width="34px">
			<span>ROCK PAPER SCISSORS</span>
		</span>
	</a>
	<br><br><br>
	<div class="container">
		<span>
			<strong>PLAYER 1</strong>
			<section class="choose">
				<img src="img/suit/batu.svg" width="80%">
			</section>
			<section class="choose">
				<img src="img/suit/kertas.svg" width="60%">
			</section>
			<section class="choose">
				<img src="img/suit/gunting.svg" width="70%">
			</section>			
		</span>
		<span id="hasil">
			VS
		</span>
		<span>
			<strong>COM</strong>
			<section class="com">
				<img src="img/suit/batu.svg" width="80%">
			</section>
			<section class="com">
				<img src="img/suit/kertas.svg" width="60%">
			</section>
			<section class="com">
				<img src="img/suit/gunting.svg" width="70%">
			</section>	
		</span>
	</div>
	<center>
		<span id="refresh">
			<img src="img/suit/refresh.svg" width="40px">
		</span>
	</center>
	<script type="text/javascript" src="script/script.js"></script>
</body>
</html>